<main class="text-bg-light row g-5">
    <h1>Hello World!</h1>

    <h4 class="text-uppercase">Робить усі літери великими!</h4>
    <h4 class="text-lowercase">Робить. Усі. Літери. Маленькими!</h4>
    <h5 class="text-capitalize">Робить кожне слово з великої букви!</h5>
    <h2 class="text-center">Центр!</h2>
    <h3 class="text-end">Кінець!</h3>
    <div class="text-end">
        Кінець тексту інший тег!
    </div>
    <hr>
    <span class="display-1">Hello World!</span>
    <br>
    <span class="display-1 text-muted">Hello World!</span>
    <br>
    <span class="text-muted">Додатковий текст!</span>
    <hr>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="card text-bg-dark">
        <img class="card-img-top" src="https://picsum.photos/200/300" alt="product photo">
        <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text"> make up the bulk of the card's content.</p>
            <a href="/summary" class="btn btn-primary">open</a>
        </div>
    </div>

    <br>
    <br>
    <br>
    <br>
    <br>
    <br>


    <div class="card text-bg-dark">
        <div class="card-header">
            <div class="display-5">Card title</div>
        </div>

        <ul class="list-group list-group-flush">
            <li class="list-group-item text-bg-primary">item 1
                <a href="#" class="btn btn-link"></a>
            <li class="list-group-item text-bg-primary">item 2
                <a href="#" class="btn btn-link"></a>
            </li>
            <li class="list-group-item text-bg-warning">item 3
                <a href="#" class="btn btn-link"></a>
            </li>
            <li class="list-group-item text-bg-warning">item 4
                <a href="#" class="btn btn-link"></a>
            </li>
        </ul>

        <div class="card-footer">
            <button class="btn btn-dark btn-sm">upd list</button>
        </div>

    </div>


    <table class="table table-striped table-bordered text-bg-success">
        <thead>
            <tr>
                <th>#id</th>
                <th>name</th>
                <th>age</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <th>1</th>
                <td>Jhon</td>
                <td>21</td>
            </tr>
            <tr>
                <th>2</th>
                <td>Michael</td>
                <td>24</td>
            </tr>
            <tr>
                <th>3</th>
                <td>Michael</td>
                <td>25</td>
            </tr>
            <tr>
                <th>4</th>
                <td>Michael</td>
                <td>22</td>
            </tr>
        </tbody>
    </table>



    <div class="card text-bg-danger text-center">
        <div class="card-header text-bg-warning">header</div>
        <div class="card-body">
            <h6 class="card-title">title</h6>
            <p>this is content of our box</p>
            <button class="btn btn-light btn-lg">BOOOOM!!!</button>
        </div>
        <div class="card-footer">footer</div>
    </div>


    {{!-- ////////////////////////////////////////////////////////// --}}
    <div class="row g-5">
        <div class="col-4">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>

        </div>
        <div class="col-3">
            <div class="card text-bg-danger text-center">
                <div class="card-header text-bg-warning">header</div>
                <div class="card-body">
                    <h6 class="card-title">title</h6>
                    <p>this is content of our box</p>
                    <button class="btn btn-light btn-lg">BOOOOM!!!</button>
                </div>
                <div class="card-footer">footer</div>
            </div>
        </div>

    </div>
    {{!-- //////////////////////////////////////////////////////////////////////// --}}

</main>