<main>
    <h1>Hello World!</h1>

    <h4 class="text-uppercase">Робить усі літери великими!</h4>
    <h4 class="text-lowercase">Робить. Усі. Літери. Маленькими!</h4>
    <h5 class="text-capitalize">Робить кожне слово з великої букви!</h5>
    <h2 class="text-center">Центр!</h2>
    <h3 class="text-end">Кінець!</h3>
    <div class="text-end">
        Кінець тексту інший тег!
    </div>
    <hr>
    <span class="display-1">Hello World!</span>
    <br>
    <span class="display-1 text-muted">Hello World!</span>
    <br>
    <span class="text-muted">Додатковий текст!</span>
    <hr>





</main>