<div class="p-5 text-bg-dark">
    <div class="card col-5 p-2 ps-0 pt-3 text-center">
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/Summary">Summary</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/Skills">Skills</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/Education">Education</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/Work">Work</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/person">Person</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/bio">Bio</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/program">Program</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/web">Web</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/js">JS</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/car">Car</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/mac">MAC</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/facebook">Facebook</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/bootstrap">Bootstrap</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/task21">Task21</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/task22">Task22</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/task31">Task31</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shophome">Shophome</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shoporder">Shoporder</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shopcart">Shopcart</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shopprofile">Shopprofile</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shopreview">Shopreview</a>
        </div>
        <div class="">
            <a class="btn btn-primary px-5 ms-2 mb-3 col-10" href="/shopcatalog">Shopcatalog</a>
        </div>
    </div>
</div>