.text-bg-old_paper {
  background: #bba087;
}

.text-bg-old_paper_title {
  background: #ddbea0;
}

.text-bg-my-color {
  background: #ffb078;
}

#card_a {
  background: #bdbdbd;
}

/* #card_b {
  background: rgb(51, 47, 53);
} */

/* #card_head {
  background: #cbd0d3;
} */

/* .card {
  background: #e8ebec;
} */

footer {
  background: #e8ebec;
}

/* #card_hover_a:hover {
  background: #a7abad;
} */

.nav-link:hover {
  background: rgb(63, 63, 63);
}

/* a:nth-child(1),
a:hover {
  color: #2b2b2b;
} */

/* #id_body {
  background: rgb(44, 41, 46);
  color: rgb(223, 223, 223);
} */

/* .button_1:hover {
  background-color: rgb(47, 185, 155);
  color: rgb(255, 255, 255);
} */

/* p {
  color: rgb(46, 46, 46);
} */

/* .price_₴ {
  color: rgb(46, 46, 46);
} */
