#card_a {
  background: #ffffff;
}

#card_b {
  background: rgb(51, 47, 53);
}

#card_head {
  background: #cbd0d3;
}

.card {
  background: #cbd0d3;
}

footer {
  background: #b9bdc0;
}

#card_hover_a:hover {
  background: #bed6e9;
}

.nav-link:hover {
  background: rgb(74, 66, 80);
}

a:nth-child(1),
a:hover {
  color: #ffffff;
}

#id_body {
  background: rgb(44, 41, 46);
  color: rgb(223, 223, 223);
}

.button_1:hover {
  background-color: rgb(47, 185, 155);
  color: rgb(255, 255, 255);
}

p {
  color: rgb(46, 46, 46);
}

.price_₴ {
  color: rgb(46, 46, 46);
}
