<div>
    {{#if heated}}
    <p>
        <span>Heated: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Heated: No</span>
    </p>
    {{/if}}

    {{#if ventilated}}
    <p>
        <span>Ventilated: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Ventilated: No</span>
    </p>
    {{/if}}
</div>