<div>
    {{#if subwoofer}}
    <p>
        <span>Subwoofer: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Subwoofer: No</span>
    </p>
    {{/if}}


    {{#if bluetooth}}
    <p>
        <span>Bluetooth: Yes</span>
    </p>
    {{else}}
    <p>
        <span>Bluetooth: No</span>
    </p>
    {{/if}}


    {{#if USB}}
    <p>
        <span>USB: Yes</span>
    </p>
    {{else}}
    <p>
        <span>USB: No</span>
    </p>
    {{/if}}
</div>