<nav>
    <ul class="nav nav-tabs">
        {{> link text="Summary" href="/summary" active=true }}
        {{> link text="Skills" href="/skills" active=false }}
        {{> link text="Education" href="/education" active=false }}
        {{> link text="Work" href="/work" active=false }}
    </ul>
</nav>