{{!-- <div>
    {{#if cards.[2].isNew}}
    <span class="badge rounded-pill text-bg-success m-1">NEW</span>
    {{else}}
    {{/if}}

    {{#if cards.[2].isTop}}
    <span class="badge rounded-pill text-bg-danger m-1">TOP</span>
    {{else}}
    {{/if}}
</div> --}}