<div>
    {{#if artist}}
    <p>Artist: {{artist}}</p>
    {{else}}
    <p><i>Unknown Artist</i></p>
    {{/if}}
</div>
<div>
    {{#if audio_guide}}
    <p>
        <b>With Audio Guide</b>
    </p>
    {{else}}
    <p>
        <b>Without Audio Guide</b>
    </p>
    {{/if}}
</div>